<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="io.fabric.sdk.android.unity">
  <application>
    <meta-data android:name="io.fabric.InitializationKitsList" android:value="Fabric.Internal.Crashlytics.CrashlyticsInit.RegisterExceptionHandlers" />
    <meta-data android:name="io.fabric.ApiKey" android:value="aca9caf0d70fe83b0f5050d6b30d9d54c79d1e03" />
    <meta-data android:name="io.fabric.unity.crashlytics.version" android:value="1.3.1" />
    <meta-data android:name="io.fabric.crashlytics.qualified" android:value="com.crashlytics.android.Crashlytics" />
    <meta-data android:name="io.fabric.crashlytics.unqualified" android:value="Crashlytics" />
    <meta-data android:name="io.fabric.kits" android:value="crashlytics" />
    <meta-data android:name="io.fabric.InitializationType" android:value="Automatic" />
  </application>
</manifest>